.about-Hero-section{
    position: relative;
    height: 50vh;
    margin-bottom: 40px;
    background-image: url('./Abouthead-bg.webp');
    background-size: cover;
    color: #fbbf24;
    font-family: "Jost", serif;
    font-size: 1.3rem;
    z-index: 1;
    overflow: hidden;
}

.about-Hero-section::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.585);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(10px);
    z-index: -1;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.about-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    width: 100%;
    height: 40vh;
    animation: fadeIn 1s ease-out;
}

.about-head{
    height: 100vh;
    width: 60%;
}

.about-head h1{
    font-size: 3rem;
    text-align: center;
    animation: fadeIn 1s ease-out;
}

/* Story Section  */

.Story-section{
    height: 100vh;
    display: flex;
}

.story-left{
    width: 30%;
    background-color: #fbbf24;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.story{
    width: 50%;
}

.story h1{
    font-family: "Jost", serif;
    font-size: 2rem;
    animation: fadeIn 1s ease-out;
}

.story p{
    font-size: 1.3rem;
    font-family: "Jost", serif;
    animation: fadeIn 1s ease-out;
}

.story-right{
    width: 70%;
    background-image: url('./CA_img.webp');
    background-size: cover;
    animation: fadeIn 1s ease-out;
}

/* Why Us Section */
.whyus-section{
    height: 100vh;
    background-color: #fbbf24;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Jost", serif;   
}

.whyus-left{
    width: 30%;
    background-image: url('./About-Whyus.webp');
    background-size: cover;
    background-position: center;
    height: 100%;
}

.whyus-right{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.whyus-right h1{
    text-align: start;
}

.whyus-right p{
    text-align: start;
}

.about-contact{
    height: 120vh;
}

<<<<<<< HEAD
@media screen and (max-width: 768px){

    .about-head{
        width: 90%;
=======

@media screen and (min-device-width: 375px) and (max-device-width: 428px) {

    .about-head{
        padding: 5px;
        height: 50vh;
        width: 95%;
>>>>>>> 34f7c29 (responsive thing done)
    }

    .about-head h1{
        font-size: 2rem;
    }

    .about-head p{
        font-size: 1rem;
    }

    .Story-section{
<<<<<<< HEAD
        display: flex;
        flex-direction: column;
        height: 55vh;
    }

    .story-left{
        width: 100%;
    }

    .story{
        width: 90%;
    }

    .story h1{
        text-align: center;
=======
        height: 65vh;
        flex-direction: column;
        align-items: center;
    }
    .story{
        padding:10px;
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .story h1{
        font-size: 2rem;
        text-align: center;
    }

    .story p{
        text-align: center;
        font-size: 1.4rem;
    }

    .story-left{
        width: 95%;
>>>>>>> 34f7c29 (responsive thing done)
    }

    .story-right{
        display: hidden;
    }

    .about-practices{
<<<<<<< HEAD
        height: 260vh;
    }

    .whyus-section{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .whyus-left{
        height: 30vh;
        width: 100%;
    }

    .whyus-right{
        background-color: #ffffff00;
        width: 100%;
        padding: 30px;
    }

    .whyus-right p{
        text-align: center;
=======
        height: 270vh;
    }

    .whyus-section{
        flex-direction: column;
        justify-content: start;
        gap: 30px;
        height: 90vh;
    }

    .whyus-left{
        width: 100%;
        height: 20vh;
    }

    .whyus-right{
        width: 95%;
        background-color: #fbbf24;
    }

    .whyus-right h1{
        font-size: 2rem;
        color: #fff;
    }

    .about-contact{
        height: 90vh;
>>>>>>> 34f7c29 (responsive thing done)
    }
}