
  /* contact form  */

  .contact-title h1{
    font-size: 3.5rem;
  font-weight: bold;
  color: #fbbf24;
  font-family: "Jost", serif;
  text-align: center;
  text-shadow: 0 1px 0 #ffffff, 0 2px 0 #c9c9c9, 0 3px 0 #000000,
    0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1),
    0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3),
    0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);

    text-transform: capitalize;
  }
  .contact-container{
     
    display: flex;
    justify-content: center;
     
    width: 80% !important;
    margin-top: 5rem !important;
    margin-bottom: 5rem;

  }
  .contactUs-icon{
    color: #1a1200;
    font-size: 2.5rem;
    margin-right: 0.6rem;
    border: 2px solid #926d0e;
    background: #f5b40b;
    border-radius: 2rem;
    padding: 5px;

  }
  .contact-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }
  .left-form{
    margin-right: 2rem;
    width: 50%;
  }
 .left-form h1{
  font-size: 2.7;
  font-weight: 700;
 }
.contactUs-details{
  margin: 1rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contactUs-details .icon-details{
  font-size: 1.6rem;
  font-weight: 600;
}
.contactUs-icon-name{
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactUs-left-des{
  margin: 2rem 0rem;
  font-size: 1.2rem;
  font-weight: 600;
}

/* right side */
.right-form{
  margin-left: 1rem;
}
.right-container {
  max-width: 600px;
  margin: 0 auto;
 
}
.right-container h1{
font-size: 2.7rem;
font-weight: 700;
}
.right-container p{
  margin: 1rem 0rem 2rem 0rem;
}
.right-form form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.right-form .form-group {
    flex: 1 1 100%;
}
.right-form .form-group.half {
    flex: 1 1 calc(50% - 20px);
}
label {
    display: block;
    margin-bottom: 5px;
}
.right-form input, textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #ececec;
}
.right-form button {
    width: 100%;
    padding: 10px;
    background-color: #5ba2ef;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 10px;
}
 
@media (max-width: 600px) {
    .form-group.half {
        flex: 1 1 100%;
    }
    .contact-container{
      flex-direction: column;
    }
    .left-form{
      width: 100%;
    }
    .right-container{
      max-width: 400px;
      display: flex;
    }
  }
  @media (max-width: 480px) {

    .right-container{
      max-width: 350px;
    }

  }
  .right-form{
    margin-left: 0rem;
  }


  @media screen and  (max-width: 480px){
    .contact-title h1{
        font-size: 2.6rem;
    }
  }

  iframe{
    border: 1px solid #fbbf24;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.256);
  }