
.contactus{
    height: 100vh;
    background-color: #f3f8f3;
}

.contact-head {
    position: relative;
    height: 70vh;
    background-image: url('./Contact_page_bg.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    color: #fbbf24;
    font-family: "Jost", serif;
    font-size: 1.3rem;
    z-index: 1;
    overflow: hidden;
}

.contact-head::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.585);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: -1;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.contact-head h1 {
    position: relative;
    z-index: 2; 
    text-align: start;
}

.head-content {
    width: 50%;
}

.contact-form {
    background-color: #ffffff;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    width: 40%;
    margin: -80px auto 0; 
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.con-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.con-form form {
    gap: 20px;
}

.form-container input,
.text-area textarea {
    width: 100%;
    max-width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    outline: none;
}

.form-container input:focus,
.text-area textarea:focus {
    border-color: #fbbf24; 
    box-shadow: 0 0 8px rgba(251, 191, 36, 0.5);
}


.text-area textarea {
    resize: none;
    height: 100px; 
    line-height: 1.5;
}


button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #fbbf24;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
    align-self: center;
}

@media screen and (min-device-width: 375px) and (max-device-width: 428px) {
    .contact-head{
        justify-content: start;
    }
    .head-content{
        width: 90%;
    }
    .contact-head h1{
        font-size: 2rem;
    }

    .con-form{
        align-items: center;
    }
    .contact-form{
        margin: -250px auto 0; 
        width: 60%;
    }
}