.practices {
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.practices-head {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #fbbf24;
    width: 18%;
    animation: fadeIn 1s ease-out;
}

.practices-head h2 {
    font-size: 3rem;
    font-weight: bold;
    color: #fbbf24;
    font-family: "Jost", serif;
    text-align: center;
}

.practices-items {
    height: 90vh;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 60px;
    animation: fadeIn 1s ease-out;
}

.practice-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: start;
    width: 90%;
}

.practice-icon {
    font-size: 3rem;
    color: #fbbf24;
    margin-bottom: 15px;
}

.practice-item h3 {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Jost", serif;
    color: #333;
    margin-bottom: 10px;
}

.practice-item p {
    font-size: 1rem;
    color: #666;
    font-family: "Jost", serif;
}

.knowmore-btn a {
    margin-top: 10px;
    padding: 12px 30px;
    width: 18%;
    font-size: 18px;
    font-family: "Jost", serif;
    color: #fbbf24;
    background-color: #fbbe2400;
    border: 3px solid#fbbf24;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.knowmore-btn a:hover {
    background-color: #fbbf24;
    color: #333;
    transform: translateY(-4px);
    box-shadow: 0px 12px 20px rgba(0, 123, 255, 0.3);
}


@media screen and (min-device-width: 375px) and (max-device-width: 428px){
    .practices-head{
        width: 70%;
    }
    .practices-head h2{
        font-size: 2rem;
    }
    .practices-items {
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 1000px;
    }
}