.golden-div {
    background: radial-gradient(#fda842, #fdc27c);
    ;
    width: 20%;
    height: 55rem;
    margin-top:5.5rem;
    position: absolute;
    translate: 40.2vw;
    z-index: -1;
    border-radius: 2rem 0rem 0rem 2rem;

}

@media (max-width: 1024px) {
    .golden-div {
        width: 40%;
        height: 60rem;
        translate: 31vw;
        margin-top: 5rem;
    }
}

@media (max-width: 768px) {
    .golden-div {
        width: 40%;
        height: 135rem;
        translate: 31vw 1vh;
        
    }
}

@media (max-width: 480px) {
    .golden-div {
        width: 40%;
        height: 140rem;
        translate: 31vw;
        margin-top: 10rem;
    }
}

.practices {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
}

.practices-items {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    padding: 60px;
}

.practice-item {
    background-color: #fffaee;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.256);
    text-align: start;
    width: 90%;
}

.practice-icon {
    font-size: 3rem;
    color: #fbbf24;
    margin-bottom: 15px;
}

.practice-item h3 {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Jost", serif;
    color: #333;
    margin-bottom: 10px;
}

.practice-item p {
    font-size: 1rem;
    color: #666;
    font-family: "Jost", serif;
}

.modal-backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.modal-container {
    background: white;
    border-radius: 1rem;
    max-width: 48rem;
    width: 100%;
    overflow-y: auto;
}

.modal-content {
    padding: 1.5rem 2rem;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.modal-title {
    display: flex;
    align-items: center;
}

.modal-title-text {
    font-size: 2rem;
    font-weight: bold;
    color: #1f2937;
    margin-left: 1rem;
    font-family: "Jost", serif;
}

.modal-close-btn {
    color: #fbbe24;
    background: none;
    border: none;
}

.modal-close-btn:hover {
    color: #4b5563;
}

.modal-close-icon {
    width: 1.5rem;
}

.modal-section {
    margin-bottom: 2rem;
}

.modal-section-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #1f2937;
    margin-bottom: 1rem;
    font-family: "Jost", serif;
}

.modal-section-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

@media (min-width: 768px) {
    .modal-section-list {
        grid-template-columns: 1fr 1fr;
    }
}

.modal-section-item {
    display: flex;
    align-items: start;
}

.modal-section-icon {
    width: 1.25rem;
    color: #10b981;
    margin-top: 0.25rem;
    margin-right: 0.75rem;
    flex-shrink: 0;
}

.modal-section-text {
    color: #4b5563;
    font-family: "Jost", serif;
}

.modal-close-details-btn {
    margin-top: 1.5rem;
    width: 100%;
    background: #fbbe24;
    color: #333;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    font-weight: 600;
    transition: background-color 0.2s;
    font-family: "Jost", serif;
    font-size: 1rem;
}

.modal-close-details-btn:hover {
    background: #1d4ed8;
}

.practices-head {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
     
}

.practices-head h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #fbbf24;
    font-family: "Jost", serif;
    text-align: center;
}

.knowmore-btn a {
    margin-top: 10px;
    padding: 12px 30px;
    width: 18%;
    font-size: 18px;
    font-family: "Jost", serif;
    color: #fbbf24;
    background-color: #fbbe2400;
    border: 3px solid #fbbf24;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.knowmore-btn a:hover {
    background-color: #fbbf24;
    color: #333;
    transform: translateY(-4px);
    box-shadow: 0px 12px 20px rgba(0, 123, 255, 0.3);
}

@media screen and (max-width: 768px) {
    .modal-section-list {
        grid-template-columns: 1fr 1fr;
    }

    .modal-section-item {
        display: flex;
        align-items: start;
    }

    .modal-section-icon {
        width: 1.25rem;
        color: #10b981;
        margin-top: 0.25rem;
        margin-right: 0.75rem;
        flex-shrink: 0;
    }

    .modal-section-text {
        color: #4b5563;
        font-family: "Jost", serif;
    }

    .modal-close-details-btn {
        margin-top: 1.5rem;
        width: 100%;
        background: #fbbe24;
        color: #333;
        padding: 0.75rem 1.5rem;
        border-radius: 0.5rem;
        font-weight: 600;
        transition: background-color 0.2s;
        font-family: "Jost", serif;
        font-size: 1rem;
    }

    .modal-close-details-btn:hover {
        background: #1d4ed8;
    }

    .practices-items {
        display: flex;
        flex-direction: column;
    }

    .practices-head {
        width: 80%;
    }

    .practices-head h2 {
        font-size: 2rem;
    }
}
