/* Navbar container */
.nav-head {
    height: 5vh;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: "Inter Tight", serif;
    
}

.nav-list-left h1 {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: #fbbf24;
}


.nav-list-right ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}


.nav-list-right li {
    margin-right: 20px;
}


.nav-list-right a {
    text-decoration: none;
    color: White;
    font-size: 1.3rem;
    border-radius: 5px;
}

.nav-list-right .btn {
    background-color: #fbbf24;
    color: #1e293b;
    font-weight: bold;
    border-radius: 30px;
}


.nav-list-right li:last-child {
    margin-right: 0;
}