.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

 
  .navbar-logo img{
    width:30% ;
    object-fit: cover;

  }

  .navbar-element{
    display: flex
    ;
        justify-content: space-between;
        width: 60%;
        align-items: center;
        
  }

  .navbar-element ul{
    display: flex
    ;
        justify-content: space-between;
        list-style: none;
        align-items: center;
        width: 50%;
  }
  .navbar-menu{
    display: none;
    font-size: 2rem;
  }
 
  
  .menu {
    display: none;
    
     
  }
  
  .menu.show {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #ffff;
    box-shadow: #ffffff 1px 2px 3px 3px;
    position: absolute;
    transform: translateY(88%);
    left: 1%;
    row-gap: 1rem;
    z-index: 4;
    align-items: flex-start;
 
  }
  

  .navbar-element ul li{
    font-size: 28px;
    font-weight: 400;
  }
  .get-in-touch-btn{
     
        font-size: 24px;
        border-radius: 2rem;
        padding: 1rem;
      width: 30%;
        display: flex
    ;
        justify-content: space-around;
        align-items: center;

  }

  .navbar-section{
    justify-content: center;
    display: flex
;
    align-items: center;
  }

  .link-li{
    text-decoration: none;
    color: black;
  }
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }
  
  @media (min-width: 1400px) {
    .container {
      max-width: 1320px;
    }
  }
  
  @media (max-width: 768px){
    .container{
        
        flex-direction: column;
        justify-content: center;
        row-gap: 2rem;
    }
    .navbar-logo img {
        width: max-content;
    }
    .navbar-element{
        width: 100%;
        margin-bottom: 1rem;
    }
    .navbar-element ul{
        display: none;
        font-size: 30px;
    }
    .navbar-menu{
        display: flex;
    }
    .get-in-touch-btn {
        width: max-content;
    }
  }
 