 
.footer-container {
    background-color: #222;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    
    justify-content: space-around;
    max-width: 1200px;
    margin: auto;
}

.footer-section {
    margin: 20px;
    flex: 1;
    min-width: 250px;
}
 
 
 .footer-section-quick-link, .footer-section-brand,.footer-section-deatils{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 20px;
    flex: 1;
    min-width: 250px;
 }


 .footer-section-quick-link svg{
    color: #fbbf24;
 }
 .footer-section-deatils p {
    display: flex;
    align-items: center;
    width: max-content;
 }

 .footer-section-deatils svg{
    font-size: 24px;
    margin-right: 10px;
    color: #fbbf24;
 }


.footer-section h1,
.footer-section h2 {
    margin-bottom: 15px;
    text-align: left;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #f4a261;
}

.contact-btn {
    background-color: #f4a261;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.contact-btn:hover {
    background-color: #e76f51;
}

.social-icons a {
    margin: 0 10px;
    font-size: 24px;
    color: #fbbf24;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #f4a261;
}

.footer-bottom {
    margin-top: 20px;
    border-top: 1px solid #444;
    padding-top: 10px;
    font-size: 14px;
    color: #ccc;
}

@media (max-width: 1024px) {
    .footer-content{
        flex-direction: column;
    }
}